<h1>Plant Pal</h1>

<%= image_tag('mdeliciosa.jpg', class: 'welcome-img', :align=> "middle") %>

<div class='welcome-links'>
  <%= link_to "Sign Up", new_user_path %> <%= link_to "Sign In", login_path %>
</div>
